@import url('reset.css');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: "League Spartan", sans-serif;
    max-width: 1100px;
    margin-inline: auto;
    padding: 100px 0px 100px 0px;
    height: 100vh;
    background-image: url(/images/bg-pattern-top-desktop.svg),url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}
header{
    height: 300px;
    display: flex;
}

.header{
    height: 300px;
    display: flex;
}

.left-head{
    height: 100%;
    max-width: 50%;
}

.left-head h1{
    font-size: 3rem;
    padding: 0px 200px 0px 0px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.left-head p{
    padding: 0px 150px 0px 0px;
    color: var(--Very-Dark-Magenta);
    margin-top: 20px;
}

.right-head{
    /* background-color: lightskyblue; */
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    justify-content: space-between;
}

.box{
    background-color: var(--Light-Grayish-Magenta);
    margin-bottom: 20px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    border-radius: 8px;
}

.image{
    display: flex;  
    margin-right: 30px;
}

.box img{
    object-fit: contain;
    width: 15px;
    margin-right: 5px;
}

.box-1{
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    padding: 15px 30px 15px 20px;
    width: 390px;
}

.box-2{
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    padding: 15px 30px 15px 20px;
    width: 400px;
    margin-left: 50px;  
}

.box-3{
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    padding: 15px 30px 15px 20px;
    width: 400px;
    margin-left: 90px;
}

main{
    height: 300px;
    display: flex;
}

.review-box{
    display: flex;
    gap: 20px;
}

.card{
    height: 240px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--Very-Dark-Magenta);
}

.content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content img{
    border-radius: 50%;
    width: 50px;
    object-fit: fill;
}

.head{
    display: flex;
    gap: 30px;
}

.info p{
    color: var(--White);
    font-weight: 700;
}

.info-2{
    color: var(--Soft-Pink);
    font-weight: 400;
}

.para{
    color: var(--White);
}

.card-1{
    display: flex;
}

.card-2{
    margin-top: 15px;
}

.card-3{
    margin-top: 30px;
}




@media screen and (max-width: 1432px)
{
    body{
        max-width: 90%;
    }

    header h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px){

    body{
        text-align: center;
        align-items: center;
        background-image: none;
        width: 100%;
        height: 100vh;
        padding: 0px 0px 0px 0px;
        background-image: hidden;
    }

    .container{
        margin-bottom: 100px;
    }

    header{
        display: flex;
        flex-direction: column;
        height: 650px;
        margin-top: 50px;
        max-width: 100%;
    }

    .header{
        display: flex;
        flex-direction: column;
        height: 650px;
        margin-top: 50px;
        max-width: 100%;
    }

    .left-head{
        max-width: 100%;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .left-head h1{
        padding: 0px;
    }

    .left-head p{
        padding: 0px;
    }

    .right-head{
        max-width: 100%; 
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .box{
        max-width: 100%;
    }

    .box-1, .box-2, .box-3{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .image{
        margin-right: 0;
    }

    main{
        margin-bottom: 100vh;
        height: 600px;
    }

    .review-box{
        flex-direction: column;
    }
    .card{
        margin-top: 0px;
    }
}